@charset "UTF-8";

body{margin: 0; padding: 0; background-color: aquamarine;}
span,label{display: block;}
ol,ul,li {list-style: none; margin: 0; padding: 0;}
.header_css{height: 30px; background-color: cornflowerblue}
.header_div{height: 30px; width: 1200px; margin: 0 auto; }
.ul_css{width: 240px; height: 30px; float: right;}
.ul_css li{width: 80px; height: 30px; text-align: center; line-height: 30px; font-size: 12px; float: left;}
.nav_css{height: 60px; background-color: orange; }
.nav_div{width: 1200px; height: 60px; margin: 0 auto;}
.nav_ol{width: 100%; height: 60px;}
.nav_ol li{width: 150px; height: 60px; float: left; text-align: center; line-height: 60px; font-size: 13px; }
.nav_ol li:hover{background-color: aliceblue; }
/*rgba : red, green, blue, alpha (투명도 1~0)*/
/*nav_ class 안에 so_ul class 항목을 보여주도록 함*/
.small_ul{width: 150px; height: auto; display: none;}
.small_ul li{width: 150px; height: 25px; font-size: 13px; line-height: 25px; background-color: cornflowerblue;}
.nav_ol li:hover .small_ul{display: block;}