@charset "UTF-8";

body{margin: 0; height: 0;}
.header_css{height: 50px; background-color: dodgerblue;}
.header_div{width: 1200px; height: 50px; background-color: lightcoral; margin: 0 auto;}
.nav_css{height: 100px; background-color: olive;}
.main_css{height: auto; background-color: darkcyan;}
.section_1{height: 450px; background-color: orange}
.section_2{height: 800px; background-color: green;}
.aside_left{width: 30%; height: 800px; background-color: darkcyan; float: left;}
.article_right{width: 70%; height: 800px; background-color: tomato; float: left;}
.article_banner{height: 100px; clear: both; background-color: black;}
.notice{height: 300px; background-color: plum;}
.footer_css{height: 300px; background-color: slateblue;}